<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tipoFesta">
            <h2><span jhiTranslate="appApp.tipoFesta.detail.title">Tipo Festa</span> {{ tipoFesta.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appApp.tipoFesta.nome">Nome</span></dt>
                <dd>
                    <span>{{ tipoFesta.nome }}</span>
                </dd>
                <dt><span jhiTranslate="appApp.tipoFesta.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ tipoFesta.descricao }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tipo-festa', tipoFesta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
