<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="itemPedido">
            <h2><span jhiTranslate="appApp.itemPedido.detail.title">Item Pedido</span> {{ itemPedido.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appApp.itemPedido.nome">Nome</span></dt>
                <dd>
                    <span>{{ itemPedido.nome }}</span>
                </dd>
                <dt><span jhiTranslate="appApp.itemPedido.valorItem">Valor Item</span></dt>
                <dd>
                    <span>{{ itemPedido.valorItem }}</span>
                </dd>
                <dt><span jhiTranslate="appApp.itemPedido.pedido">Pedido</span></dt>
                <dd>
                    <div *ngIf="itemPedido.pedidoId">
                        <a [routerLink]="['/pedido', itemPedido.pedidoId, 'view']">{{ itemPedido.pedidoId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/item-pedido', itemPedido.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
