<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="funcionario">
            <h2><span jhiTranslate="appApp.funcionario.detail.title">Funcionario</span> {{ funcionario.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appApp.funcionario.nome">Nome</span></dt>
                <dd>
                    <span>{{ funcionario.nome }}</span>
                </dd>
                <dt><span jhiTranslate="appApp.funcionario.telefone">Telefone</span></dt>
                <dd>
                    <span>{{ funcionario.telefone }}</span>
                </dd>
                <dt><span jhiTranslate="appApp.funcionario.cargo">Cargo</span></dt>
                <dd>
                    <div *ngIf="funcionario.cargoId">
                        <a [routerLink]="['/cargo', funcionario.cargoId, 'view']">{{ funcionario.cargoId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/funcionario', funcionario.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
